name: Create Docker images on Release

on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        description: "The Dockerhub username."
        required: true
      DOCKERHUB_PASSWORD:
        description: "The Dockerhub password."
        required: true
      SLACK_WEBHOOK_URL:
        required: true
      GH_PERSONAL_TOKEN:
        description: "GH token needed for triggering helm chart PR."
        required: true
    inputs:
      retag-latest:
        description: 'Retag latest Docker images'
        required: false
        type: boolean
        default: false
      retag-lts:
        description: 'Retag LTS Docker images'
        required: false
        type: boolean
        default: false
      plugin-version:
        description: '(deprecated) Plugin version window for old Kestra releases using .plugins file (0.22 to 0.24). If omitted, then plugin list will be fetched from the API compatible versions endpoint'
        required: false
        type: string
        default: ''
      dry-run:
        description: 'Dry run mode that will stop before publishing the image'
        required: false
        type: boolean
        default: false
      java-version:
        description: "Java version"
        type: string
        default: '21'
        required: false

jobs:
  plugins:
    name: List Plugins
    runs-on: ubuntu-latest
    outputs:
      plugins: ${{ steps.plugins-outputs-step.outputs.plugins }}
    steps:
      # Checkout
      - uses: actions/checkout@v5
      - name: Log params
        run: |
          echo "parameters:"
          echo "    kestraVersion: ${{ github.ref_name }}"
          echo "    pluginsWindowVersion: ${{ inputs.plugin-version }}"
      # Get Plugins List
      - name: Get old plugins list from .plugins file
        id: old-plugin-list-from-inputs-file
        if: ${{ inputs.plugin-version != '' }}
        uses: kestra-io/actions/composite/kestra-oss/kestra-oss-plugins-list@main
        with:
          plugin-version: ${{ inputs.plugin-version == 'LATEST-SNAPSHOT' && 'LATEST' || inputs.plugin-version }}
      - name: Get new plugins list from API
        id: new-plugin-list-from-api
        if: ${{ inputs.plugin-version == '' }}
        uses: kestra-io/actions/composite/kestra/kestra-plugins-list@main
        with:
          kestraVersion: ${{ github.ref_name }}
      - name: Select plugins output
        id: plugins-outputs-step
        shell: bash
        run: |
          if [ "${{ inputs.plugin-version }}" != "" ]; then
            echo "plugins=${{ steps.old-plugin-list-from-inputs-file.outputs.plugins }}" >> $GITHUB_OUTPUT
          else
            echo "plugins=${{ steps.new-plugin-list-from-api.outputs.plugins }}" >> $GITHUB_OUTPUT
          fi

  # ********************************************************************************************************************
  # Build
  # ********************************************************************************************************************
  build-artifacts:
    name: Build Artifacts
    uses: ./.github/workflows/kestra-oss-build-artifacts.yml
    with:
      java-version: ${{ inputs.java-version }}

  docker:
    name: Publish Docker
    needs: [ plugins, build-artifacts ]
    if: always() && !cancelled()
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - name: "-no-plugins"
            plugins: ""
            packages: jattach
            python-libs: ""
          - name: ""
            plugins: ${{needs.plugins.outputs.plugins}}
            packages: python3 python-is-python3 python3-pip curl jattach
            python-libs: kestra
    steps:
      - name: echo inputs.dry-run ON
        if: ${{ inputs.dry-run == true }}
        run: echo 'inputs.dry-run ON'
      - name: inputs.dry-run OFF
        if: ${{ inputs.dry-run == false }}
        run: echo 'inputs.dry-run OFF'

      - uses: actions/checkout@v5

      # Vars
      - name: Set image name
        id: vars
        run: |
          if [[ "${{ inputs.release-tag }}" == "" ]]; then
            TAG=${GITHUB_REF#refs/*/}
            echo "tag=${TAG}" >> $GITHUB_OUTPUT
          else
            TAG="${{ inputs.release-tag }}"
            echo "tag=${TAG}" >> $GITHUB_OUTPUT
          fi

          if [[ $GITHUB_REF == refs/tags/* && $TAG != *-rc* ]]; then
            if [[ $TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              # this will remove the patch version number
              MINOR_SEMVER=${TAG%.*}
              echo "minor_semver=${MINOR_SEMVER}" >> $GITHUB_OUTPUT
            else
              echo "Tag '$TAG' is not a valid semver (vMAJOR.MINOR.PATCH), skipping minor_semver"
            fi
          else
            echo "TAG '$TAG' is not a real release, skipping minor_semver"
          fi

          if [[ "${{ inputs.plugin-version }}" == *"-SNAPSHOT" ]]; then
            echo "plugins=--repositories=https://central.sonatype.com/repository/maven-snapshots/ ${{ matrix.image.plugins }}" >> $GITHUB_OUTPUT;
          else
            echo "plugins=${{ matrix.image.plugins }}" >> $GITHUB_OUTPUT
          fi

      # Download executable from artifact
      - name: Artifacts - Download executable
        uses: actions/download-artifact@v5
        with:
          name: exe
          path: build/executable

      - name: Copy exe to image
        run: |
          cp build/executable/* docker/app/kestra && chmod +x docker/app/kestra

      # Docker setup
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Docker - Fix Qemu
        shell: bash
        run: |
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes -c yes

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Docker Login
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # Docker Build and push
      - name: Push to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ inputs.dry-run == false }}
          tags: ${{ format('kestra/kestra:{0}{1}', steps.vars.outputs.tag, matrix.image.name) }}
          platforms: linux/amd64,linux/arm64
          build-args: |
            KESTRA_PLUGINS=${{ steps.vars.outputs.plugins }}
            APT_PACKAGES=${{ matrix.image.packages }}
            PYTHON_LIBRARIES=${{ matrix.image.python-libs }}

      - name: Install regctl
        if: startsWith(github.ref, 'refs/tags/v')  && (inputs.dry-run == false)
        uses: regclient/actions/regctl-installer@main

      - name: Retag to minor semver version
        if: startsWith(github.ref, 'refs/tags/v') && steps.vars.outputs.minor_semver != ''  && (inputs.dry-run == false)
        run: |
          regctl image copy ${{ format('kestra/kestra:{0}{1}', steps.vars.outputs.tag, matrix.image.name) }} ${{ format('kestra/kestra:{0}{1}', steps.vars.outputs.minor_semver, matrix.image.name) }}

      - name: Retag to latest
        if: startsWith(github.ref, 'refs/tags/v') && (inputs.retag-latest == true || inputs.retag-latest == 'true')  && (inputs.dry-run == false)
        run: |
          TAG=${GITHUB_REF#refs/*/}
          if [[ ! $TAG =~ ^v1\.[0-9]+\.[0-9]+$ ]]; then
            echo "validation error, $TAG did not match acceptable 'latest' regex"
            exit 1
          fi

          regctl image copy ${{ format('kestra/kestra:{0}{1}', steps.vars.outputs.tag, matrix.image.name) }} ${{ format('kestra/kestra:latest{0}', matrix.image.name) }}

      - name: Retag to LTS
        if: startsWith(github.ref, 'refs/tags/v') && (inputs.retag-lts == true || inputs.retag-lts == 'true') && (inputs.dry-run == false)
        run: |
          TAG=${GITHUB_REF#refs/*/}
          if [[ ! $TAG =~ ^v1\.[0-9]+\.[0-9]+$ ]]; then
            echo "validation error, $TAG did not match acceptable 'latest' regex"
            exit 1
          fi
          
          regctl image copy ${{ format('kestra/kestra:{0}{1}', steps.vars.outputs.tag, matrix.image.name) }} ${{ format('kestra/kestra:latest-lts{0}', matrix.image.name) }}

      # Trigger gha workflow to bump helm chart version
      - name: GitHub - Trigger the Helm chart version bump
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 #v4.0.1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: kestra-io/helm-charts
          event-type: update-helm-chart-version
          client-payload: |-
            {
              "new_version": "${{ github.ref_name }}",
              "github_repository": "${{ github.repository }}",
              "github_actor": "${{ github.actor }}"
            }

  end:
    runs-on: ubuntu-latest
    needs:
      - docker
    if: always()
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      - name: Slack notification
        if: ${{ failure() && env.SLACK_WEBHOOK_URL != 0 }}
        uses: kestra-io/actions/composite/slack-status@main
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
