name: Backend - Tests

on:
  workflow_call:
    secrets:
      GITHUB_AUTH_TOKEN:
        description: "The GitHub Token."
        required: true
      CODECOV_TOKEN:
        description: 'Codecov Token'
        required: true
      SONAR_TOKEN:
        description: 'Sonar Token'
        required: true
      GOOGLE_SERVICE_ACCOUNT:
        description: 'Google Service Account'
        required: true

permissions:
  contents: write
  checks: write
  actions: read
  pull-requests: write

jobs:
  test:
    name: Backend - Tests
    runs-on: ubuntu-latest
    env:
      GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - uses: actions/checkout@v5
        name: Checkout - Current ref
        with:
          fetch-depth: 0

      # Setup build
      - uses: kestra-io/actions/composite/setup-build@main
        name: Setup - Build
        id: build
        with:
          java-enabled: true
          node-enabled: true
          python-enabled: true

      # Services
      - name: Setup - Start docker compose
        shell: bash
        run: docker compose -f docker-compose-ci.yml up -d

      # Gradle check
      - name: Gradle - Build
        if: ${{ github.event.inputs.skip-test == 'false' || github.event.inputs.skip-test == '' }}
        env:
          GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
        shell: bash
        run: |
          echo $GOOGLE_SERVICE_ACCOUNT | base64 -d > ~/.gcp-service-account.json
          export GOOGLE_APPLICATION_CREDENTIALS=$HOME/.gcp-service-account.json
          ./gradlew check javadoc --parallel

      - name: comment PR with test report
        if: ${{ !cancelled() && github.event_name == 'pull_request' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_AUTH_TOKEN }}
        run: npx --yes @kestra-io/kestra-devtools generateTestReportSummary --only-errors --ci $(pwd)

      # Report Java
      - name: Report - Java
        uses: kestra-io/actions/composite/report-java@main
        if: ${{ !cancelled() }}
        with:
          secrets: ${{ toJSON(secrets) }}