name: Create Docker images on Release

on:
  workflow_call:
    secrets:
      GCP_SERVICE_ACCOUNT:
        required: true
      GOOGLE_SERVICE_ACCOUNT:
        required: true
      DOCKERHUB_USERNAME:
        description: "The DockerHub username"
        required: true
      DOCKERHUB_TOKEN:
        description: "The DockerHub token"
        required: true
    inputs:
      retag-latest:
        description: 'Retag latest Docker images'
        required: false
        type: boolean
        default: false
      retag-lts:
        description: 'Retag LTS Docker images'
        required: false
        type: boolean
        default: false
      plugin-version:
        description: '(deprecated) Plugin version window for old Kestra releases using .plugins file (0.22 to 0.24). If omitted, then plugin list will be fetched from the API compatible versions endpoint'
        required: false
        type: string
        default: ''
      dry-run:
        description: 'Dry run mode that will stop before publishing the image'
        required: false
        type: boolean
        default: false

jobs:
  plugins:
    name: List Plugins
    runs-on: kestra-private-standard
    outputs:
      plugins: ${{ steps.plugins-outputs-step.outputs.plugins }}
    steps:
      # Checkout
      - uses: actions/checkout@v5
      - name: Log params
        run: |
          echo "parameters:"
          echo "    kestraVersion: ${{ github.ref_name }}"
          echo "    pluginsWindowVersion: ${{ inputs.plugin-version }}"
      # Get Plugins List
      - name: Get old plugins list from .plugins file
        id: old-plugin-list-from-inputs-file
        if: ${{ inputs.plugin-version != '' }}
        uses: kestra-io/actions/composite/kestra-ee/kestra-ee-plugins-list@main
        with:
          plugin-version: ${{ inputs.plugin-version == 'LATEST-SNAPSHOT' && 'LATEST' || inputs.plugin-version }}
      - name: Get new plugins list from API
        id: new-plugin-list-from-api
        if: ${{ inputs.plugin-version == '' }}
        uses: kestra-io/actions/composite/kestra/kestra-plugins-list@main
        with:
          kestraVersion: ${{ github.ref_name }}
      - name: Select plugins output
        id: plugins-outputs-step
        shell: bash
        run: |
          if [ "${{ inputs.plugin-version }}" != "" ]; then
            echo "plugins=${{ steps.old-plugin-list-from-inputs-file.outputs.plugins }}" >> $GITHUB_OUTPUT
          else
            echo "plugins=${{ steps.new-plugin-list-from-api.outputs.plugins }}" >> $GITHUB_OUTPUT
          fi

  # ********************************************************************************************************************
  # Build
  # ********************************************************************************************************************
  build-artifacts:
    name: Build Artifacts
    uses: ./.github/workflows/kestra-ee-build-artifacts.yml
    secrets:
      GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  # ********************************************************************************************************************
  # Docker
  # ********************************************************************************************************************
  docker:
    name: Publish docker
    runs-on: kestra-private-standard
    needs: [ plugins, build-artifacts ]
    if: |
      always() && !cancelled()
    strategy:
      matrix:
        image:
          - tag: -no-plugins
            plugins: ""
            packages: jattach
            node-apt-packages: ""
            python-libraries: ""

          - tag: ""
            plugins: ${{needs.plugins.outputs.plugins}}
            packages: python3 python-is-python3 python3-pip curl jattach
            python-libraries: kestra
    env:
      GCP_IMAGE_PATH: europe-west1-docker.pkg.dev/kestra-host/docker/kestra-ee
      GITHUB_IMAGE_PATH: ghcr.io/kestra-io/kestra-ee
    steps:
      - name: echo inputs.dry-run ON
        if: ${{ inputs.dry-run == true }}
        run: echo 'inputs.dry-run ON'
      - name: inputs.dry-run OFF
        if: ${{ inputs.dry-run == false }}
        run: echo 'inputs.dry-run OFF'

      - name: Code Checkout
        uses: actions/checkout@v5
        with:
          path: kestra-ee

      - name: Docker init
        uses: kestra-io/actions/composite/setup-docker@main

      # Google Auth
      - name: GCP - Auth with github service account
        id: glogin
        uses: 'google-github-actions/auth@v3'
        with:
          token_format: 'access_token'
          credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT }}'

      # Vars
      - name: Plugins - Set List
        id: vars
        run: |
          TAG=${GITHUB_REF#refs/*/}

          echo "tag=${TAG}${{ matrix.image.tag }}" >> $GITHUB_OUTPUT

          if [[ $GITHUB_REF == refs/tags/* ]]; then
            if [[ $TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              # this will remove the patch version number
              MINOR_SEMVER=${TAG%.*}
              echo "minor_semver=${MINOR_SEMVER}" >> $GITHUB_OUTPUT
            else
              echo "Tag '$TAG' is not a valid semver (vMAJOR.MINOR.PATCH), skipping minor_semver"
            fi
          fi

          PRIVATE_REPO="--repositories=https://oauth2accesstoken:${{ steps.glogin.outputs.access_token }}@europe-west1-maven.pkg.dev/kestra-host/maven"
          if [[ "${{ inputs.plugin-version }}" == *"-SNAPSHOT" ]]; then
            echo "plugins=$PRIVATE_REPO-snapshot --repositories=https://central.sonatype.com/repository/maven-snapshots ${{ matrix.image.plugins }}" >> $GITHUB_OUTPUT
          else
            echo "plugins=$PRIVATE_REPO ${{ matrix.image.plugins }}" >> $GITHUB_OUTPUT
          fi

      # Download executable from artifact
      - name: Artifacts - Download executable
        uses: actions/download-artifact@v5
        with:
          name: exe
          path: build/executable

      - name: Docker - Copy exe to image
        shell: bash
        run: |
          cp build/executable/* kestra-ee/docker/app/kestra && chmod +x kestra-ee/docker/app/kestra

      - name: Docker - Login to GitHub registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker - Login to Google Cloud registry
        uses: docker/login-action@v3
        with:
          registry: europe-west1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.glogin.outputs.access_token }}

      - name: Docker - Build and push
        id: docker-build-push
        uses: docker/build-push-action@v6
        with:
          context: kestra-ee/.
          push: ${{ inputs.dry-run == false }}
          tags: |
            ${{ env.GITHUB_IMAGE_PATH }}:${{ steps.vars.outputs.tag }}
            ${{ env.GCP_IMAGE_PATH }}:${{ steps.vars.outputs.tag }}
          platforms: linux/amd64,linux/arm64
          network: host
          build-args: |
            KESTRA_PLUGINS=${{ steps.vars.outputs.plugins }}
            APT_PACKAGES=${{ matrix.image.packages }}
            PYTHON_LIBRARIES=${{ matrix.image.python-libraries }}

      - name: Setup - Install regctl
        if: startsWith(github.ref, 'refs/tags/v') && (inputs.dry-run == false)
        uses: regclient/actions/regctl-installer@main

      - name: Retag to minor semver version
        if: startsWith(github.ref, 'refs/tags/v') && steps.vars.outputs.minor_semver != '' && (inputs.dry-run == false)
        run: |
          regctl image copy ${{ env.GCP_IMAGE_PATH }}:${{ steps.vars.outputs.tag }} ${{ env.GCP_IMAGE_PATH }}:${{ steps.vars.outputs.minor_semver }}${{ matrix.image.tag }}
          regctl image copy ${{ env.GITHUB_IMAGE_PATH }}:${{ steps.vars.outputs.tag }} ${{ env.GITHUB_IMAGE_PATH }}:${{ steps.vars.outputs.minor_semver }}${{ matrix.image.tag }}

      - name: Retag to latest
        if: startsWith(github.ref, 'refs/tags/v') && (inputs.retag-latest == true || inputs.retag-latest == 'true') && (inputs.dry-run == false)
        run: |
          TAG=${GITHUB_REF#refs/*/}
          if [[ ! $TAG =~ ^v1\.[0-9]+\.[0-9]+$ ]]; then
            echo "validation error, $TAG did not match acceptable 'latest' regex"
            exit 1
          fi

          regctl image copy ${{ env.GCP_IMAGE_PATH }}:${{ steps.vars.outputs.tag }} ${{ env.GCP_IMAGE_PATH }}:latest${{ matrix.image.tag }}
          regctl image copy ${{ env.GITHUB_IMAGE_PATH }}:${{ steps.vars.outputs.tag }} ${{ env.GITHUB_IMAGE_PATH }}:latest${{ matrix.image.tag }}

      - name: Retag to LTS
        if: startsWith(github.ref, 'refs/tags/v') && (inputs.retag-lts == true || inputs.retag-lts == 'true') && (inputs.dry-run == false)
        run: |
          echo "TODO remove this safety net after debugging inputs.retag-lts, its value: ${{ inputs.retag-lts }}"
          TAG=${GITHUB_REF#refs/*/}
          if [[ ! $TAG =~ ^v1\.[0-9]+\.[0-9]+$ ]]; then
            echo "validation error, $TAG did not match acceptable 'latest' regex"
            exit 1
          fi

          regctl image copy ${{ env.GCP_IMAGE_PATH }}:${{ steps.vars.outputs.tag }} ${{ env.GCP_IMAGE_PATH }}:latest-lts${{ matrix.image.tag }}
          regctl image copy ${{ env.GITHUB_IMAGE_PATH }}:${{ steps.vars.outputs.tag }} ${{ env.GITHUB_IMAGE_PATH }}:latest-lts${{ matrix.image.tag }}
